<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lib/jquery.modal.min.css">
    <script src="https://kit.fontawesome.com/51803d04ca.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="/scripts/lib/jquery.dateandtime.js"></script>
    <script src="/scripts/lib/jquery.modal.min.js"></script>
    <title>CityBike</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }

        main {
            display: grid;
            grid-template-columns: 1fr 3fr;
            height: 100vh;
        }

        .disable {
            display: none;
        }

        .page-navigation-section {
            width: 25vw;
            background-color: #000;
            color: #fff;
            border-left: 2px solid #000;
        }

        .page-content-section {
            width: 75vw;
        }

        .page-navigation-header {
            text-align: center;
            margin-bottom: 1rem;
            padding: 1.5rem;
        }

        .page-navigation {
            list-style: none;
        }

        .page-navigation li {
            padding: 15px;
        }

        .page-nav-button {
            font-size: 17px;
        }

        .page-navigation li:hover {
            cursor: pointer;
        }

        .page-nav-button.active {
            background-color: #fff;
            color: #000;
        }

        .dashboard-content {
            margin: 1rem;
        }

        .content-header {
            margin-bottom: 1.8rem;
        }

        .bike-container {
            width: 15rem;
            display: inline-block;
            border: 1px solid #000;
            margin-right: 2rem;
        }

        .available-bikes {
            background-color: #3ccd00;
        }

        .booked-bikes {
            background-color: #d3d3d3;
        }

        .maintenance-bikes {
            background-color: #ac0000;
        }

        .dashboard-content .status {
            font-size: 20px;
            text-align: center;
            margin: 5px 0px;
            text-decoration: underline;
        }

        i.fa-solid {
            font-family: FontAwesome;
        }

        .fa-solid.fa-bicycle {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 7rem;
        }

        .bike-count {
            padding: 10px;
            background-color: #fff;
            border-top: 1px solid #000;
        }

        .bookings-content {
            width: 100%;
            padding: 1rem;
        }

        .bookings-content .hub-options-section {
            display: flex;
            gap: 1rem;
            margin-bottom: 3rem;
        }

        .bookings-content .hub-filter {
            margin-bottom: 1rem;
        }

        .bookings-content .hub {
            border: 1px solid #000;
            padding: 0.2rem 0.9rem;
        }
        .bookings-content .hub.active {
            background-color: #636161;
            color: #fff;
        }
        .bookings-content .hub:hover {
            cursor: pointer;
        }

        .bookings-content .bike-list-container {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 100%;
            position: relative;
            height: max-content;
        }

        .bookings-content .bike {
            display: flex;
            flex-direction: column;
            border: 1px solid #000;
            height: 100%;
            width: inherit;
        }
        .bookings-content .bike:hover .bike-content-overlay {
            display: flex;
        }

        .bookings-content .bike-content-overlay {
            display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            background-color: #80808061;
            height: 100%;
            position: absolute;
            width: calc((100% / 4) - 0.9rem);
        }

        .bookings-content .bike-content {
            height: 100%;
        }

        .bookings-content .upper-section {
            position: relative;
            height: 80%;
        }

        .bookings-content .lower-section {
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid #000;
        }

        .bookings-content .bike-picture {
            width: 100%;
            height: 100%;
        }

        .bookings-content .bike-status-container {
            position: absolute;
            top: 1rem;
            right: 0rem;
            width: 5rem;
        }

        .bookings-content .bike-status {
            padding: 0.2rem 0.5rem;
            text-align: center;
            color: #fff;
            text-transform: capitalize;
        }

        .bookings-content .bike-status.available {
            background-color: #00D30B;
        }

        .bookings-content .bike-status.booked {
            background-color: #636161;
        }

        .bookings-content .book-bike {
            background-color: #00D30B;
            text-align: center;
            color: #fff;
        }
        .bookings-content .unavailable-bike {
            width: 100%;
            text-align: center;
            background-color: #636161;
            padding: 0.7rem;
            color: #fff;
        }

        .bookings-content .book-bike a {
            width: 100%;
            display: block;
            height: 100%;
            padding: 0.4rem 0.9rem;
        }
        .bookings-content .bike:hover a {
            color: #fff;
            text-decoration: none;
        }
        .bookings-content .book-bike a:hover {
            color: #fff;
            text-decoration: none;
        }

        .form-date-section,
        .form-bike-details-section,
        .form-buttons-section {
            display: flex;
            justify-content: space-between;
        }

        .form-date-section,
        .form-bike-details-section {
            margin-bottom: 3rem;
        }

        .modal {
            padding: 30px 30px;
        }

        .form-header-section {
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
            flex-direction: column;
            align-items: center;
        }

        .header-underline::before {
            content: "";
            border: 1px solid #000;
            display: inline-block;
            width: 5rem;
            position: relative;
            bottom: 0.7rem;
        }

        .form-cancel-button {
            background-color: #EA0000;
            color: #fff;
            text-decoration: none;
            padding: 0.5rem 1.5rem;
        }

        .form-submit-button {
            color: #fff;
            background-color: #00D30B;
            border: none;
            padding: 0.5rem 1.5rem;
        }
        .form-submit-button:hover {
            cursor: pointer;
        }

        .start-date-section input,
        .end-date-section input,
        .bike-hub-section input,
        .bike-name-section input {
            padding: 0.2rem;
        }

        .modal-content {
            text-align: center;
        }

        a.form-ok-button {
            display: inline-block;
            margin: 15px 50%;
        }
    </style>
</head>
<body>
    <main attr-user-id="1">
        <div class="page-navigation-section">
            <h2 class="page-navigation-header">City Bike</h2>
            <ul class="page-navigation">
                <li class="dashboard-tab-button page-nav-button active">Dashboard</li>
                <li class="bookings-tab-button page-nav-button">Bookings</li>
            </ul>
        </div>
        <div class="page-content-section">
            <div class="dashboard-content">
                <h1 class="content-header">Dashboard</h1>
                <div class="available-bikes bike-container">
                    <p class="status">Available</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.available.length %></p>
                </div>
                <div class="booked-bikes bike-container">
                    <p class="status">Booked</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.booked.length %></p>
                </div>
                <div class="maintenance-bikes bike-container">
                    <p class="status">Maintenance</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.maintenance.length %></p>
                </div>
            </div>
            <div class="bookings-content disable">
                <h1 class="content-header">Bookings</h1>
                <p class="hub-filter">Select Hub:</p>
                <div class="hub-options-section">
                    <!-- Hub listing goes here -->
                </div>
                <div class="bike-options-section">
                    <div class="no-bike-options disable">
                        <h3>No Bikes Available</h3>
                    </div>
                    <div class="bike-list-container">
                        <!-- List of bikes will go here -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="main-modal-containers" style="display: none;">
        <div class="modal-container-bike-booking-datepicker">
            <div id="datepicker" class="bike-booking-datepicker-modal">
                <form id="bike-booking-datepicker-form">
                    <div class="form-header-section">
                        <h3 class="form-header">Booking Form</h3>
                        <div class="header-underline"></div>
                    </div>
                    <div class="form-content">
                        <div class="form-date-section">
                            <div class="start-date-section">
                                <label for="start-date">Start Date:</label><br/>
                                <input type="text" name="start-date" id="start-date" class="start-date date">
                            </div>
                            <div class="end-date-section">
                                <label for="end-date">End Date:</label><br/>
                                <input type="text" name="end-date" id="end-date" class="end-date date">
                            </div>
                        </div>
                        <div class="form-bike-details-section">
                            <div class="bike-hub-section">
                                <label for="bike-hub">Hub:</label><br/>
                                <input type="text" name="bike-hub" id="bike-hub" class="bike-hub" disabled style="border: 1px solid #000; background-color: #EEEEEE">
                            </div>
                            <div class="bike-name-section">
                                <label for="bike-name">Bike:</label><br/>
                                <input type="text" name="bike-name" id="bike-name" class="bike-name" disabled style="border: 1px solid #000; background-color: #EEEEEE">
                            </div>
                        </div>
                        <div class="bike-booking-datepicker-form-errors"></div>
                        <div class="form-buttons-section">
                            <a href="#" rel="modal:close" class="form-cancel-button">Cancel</a>
                            <input type="submit" value="Confirm" class="form-submit-button">
                        </div>
                    </div>
                </form>
            </div>
            <div style="display: none;">
                <div class="datepicker-form-response-modal">
                    <div class="modal-content"></div>
                    <a href="/" rel="modal:close" class="form-ok-button">OK</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        const classDisable = "disable";
        const classActive = "active";
        
        const $dashboardTabButton = $(".dashboard-tab-button");
        const $bookingsTabButton = $(".bookings-tab-button");

        const $dashboardContentSection = $(".dashboard-content");

        const $bookingsContentSection =  $(".bookings-content");

        $dashboardTabButton.on("click", function () {
            // Content Update
            $bookingsContentSection.addClass(classDisable);
            $dashboardContentSection.removeClass(classDisable);

            // Button colour update
            $bookingsTabButton.removeClass(classActive);
            $(this).addClass(classActive);
        });        
    });
</script>
<script type="text/javascript" src="/scripts/bookings/bike-listings.js"></script>
<script type="text/javascript" src="/scripts/bookings/book-bike.js"></script>
</html>