<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51803d04ca.js" crossorigin="anonymous"></script>
    <title>CityBike</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }

        main {
            display: grid;
            grid-template-columns: 1fr 3fr;
            height: 100vh;
        }

        .disable {
            display: none;
        }

        .page-navigation-section {
            width: 25vw;
            background-color: #000;
            color: #fff;
            border-left: 2px solid #000;
        }

        .page-content-section {
            width: 75vw;
        }

        .page-navigation-header {
            text-align: center;
            margin-bottom: 1rem;
            padding: 1.5rem;
        }

        .page-navigation {
            list-style: none;
        }

        .page-navigation li {
            padding: 15px;
        }

        .page-nav-button {
            font-size: 17px;
        }

        .page-navigation li:hover {
            cursor: pointer;
        }

        .page-nav-button.active {
            background-color: #fff;
            color: #000;
        }

        .dashboard-content {
            margin: 1rem;
        }

        .content-header {
            margin-bottom: 1.8rem;
        }

        .bike-container {
            width: 15rem;
            display: inline-block;
            border: 1px solid #000;
            margin-right: 2rem;
        }

        .available-bikes {
            background-color: #3ccd00;
        }

        .booked-bikes {
            background-color: #d3d3d3;
        }

        .maintenance-bikes {
            background-color: #ac0000;
        }

        .dashboard-content .status {
            font-size: 20px;
            text-align: center;
            margin: 5px 0px;
            text-decoration: underline;
        }

        i.fa-solid {
            font-family: FontAwesome;
        }

        .fa-solid.fa-bicycle {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 7rem;
        }

        .bike-count {
            padding: 10px;
            background-color: #fff;
            border-top: 1px solid #000;
        }

        .bookings-content {
            width: 100%;
            padding: 1rem;
        }

        .bookings-content .hub-options-section {
            display: flex;
            gap: 1rem;
            margin-bottom: 3rem;
        }

        .bookings-content .hub-filter {
            margin-bottom: 1rem;
        }

        .bookings-content .hub {
            border: 1px solid #000;
            padding: 0.2rem 0.9rem;
        }
        .bookings-content .hub.active {
            background-color: #636161;
            color: #fff;
        }
        .bookings-content .hub:hover {
            cursor: pointer;
        }

        .bookings-content .bike-list-container {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 100%;
            position: relative;
            height: max-content;
        }

        .bookings-content .bike {
            display: flex;
            flex-direction: column;
            border: 1px solid #000;
            height: 100%;
            width: inherit;
        }
        .bookings-content .bike:hover .bike-content-overlay {
            display: flex;
        }
        .bookings-content .bike:hover .bike-content {
            /* opacity: 0.5; */
        }

        .bookings-content .bike-content-overlay {
            display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            background-color: #80808061;
            height: 100%;
            position: absolute;
            width: calc((100% / 4) - 0.9rem);
        }

        .bookings-content .bike-content {
            height: 100%;
        }

        .bookings-content .upper-section {
            position: relative;
            height: 80%;
        }

        .bookings-content .lower-section {
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid #000;
        }

        .bookings-content .bike-picture {
            width: 100%;
            height: 100%;
        }

        .bookings-content .bike-status-container {
            position: absolute;
            top: 1rem;
            left: 9.5rem;
            width: 5rem;
        }

        .bookings-content .bike-status {
            padding: 0.2rem 0.5rem;
            text-align: center;
            color: #fff;
            text-transform: capitalize;
        }

        .bookings-content .bike-status.available {
            background-color: #00D30B;
        }

        .bookings-content .bike-status.booked {
            background-color: #636161;
        }

        .bookings-content .book-bike {
            background-color: #00D30B;
            padding: 0.4rem 0.9rem;
            text-align: center;
            color: #fff;
        }
        .bookings-content .book-bike:hover {
            cursor: pointer;
        }

        .bookings-content .unavailable-bike {
            width: 100%;
            text-align: center;
            background-color: #636161;
            padding: 0.7rem;
            color: #fff;
        }
    </style>
</head>
<body>
    <main>
        <div class="page-navigation-section">
            <h2 class="page-navigation-header">City Bike</h2>
            <ul class="page-navigation">
                <li class="dashboard-tab-button page-nav-button active">Dashboard</li>
                <li class="bookings-tab-button page-nav-button">Bookings</li>
            </ul>
        </div>
        <div class="page-content-section">
            <div class="dashboard-content">
                <h1 class="content-header">Dashboard</h1>
                <div class="available-bikes bike-container">
                    <p class="status">Available</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.available.length %></p>
                </div>
                <div class="booked-bikes bike-container">
                    <p class="status">Booked</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.booked.length %></p>
                </div>
                <div class="maintenance-bikes bike-container">
                    <p class="status">Maintenance</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.maintenance.length %></p>
                </div>
            </div>
            <div class="bookings-content disable">
                <h1 class="content-header">Bookings</h1>
                <p class="hub-filter">Select Hub:</p>
                <div class="hub-options-section">
                    <!-- Hub listing goes here -->
                </div>
                <div class="bike-options-section">
                    <div class="no-bike-options disable">
                        <h3>No Bikes Available</h3>
                    </div>
                    <div class="bike-list-container">
                        <!-- List of bikes will go here -->
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const classDisable = "disable";
        const classActive = "active";

        const $bookingsTabButton = $(".bookings-tab-button");
        const $dashboardTabButton = $(".dashboard-tab-button");

        const $dashboardContentSection = $(".dashboard-content");

        const $bookingsContentSection =  $(".bookings-content");
        const $hubsListSection = $(".bookings-content .hub-options-section");
        const $hubListOptionButton = $(".bookings-content .hub");
        const $bikesListContainer = $(".bookings-content .bike-list-container");

        $dashboardTabButton.on("click", function () {
            // Content Update
            $bookingsContentSection.addClass(classDisable);
            $dashboardContentSection.removeClass(classDisable);

            // Button colour update
            $bookingsTabButton.removeClass(classActive);
            $(this).addClass(classActive);
        });

        $bookingsTabButton.on("click", async function () {
            // Button colour update
            $dashboardTabButton.removeClass(classActive);            
            $(this).addClass(classActive);

            // Content Update
            $dashboardContentSection.addClass(classDisable);
            $bookingsContentSection.removeClass(classDisable);

            _setHubListHtmlContent();

            _setBikeList();
            _prepareAndSetBikeListHtmlContent();

        });

        $bookingsContentSection.on("click", ".hub", function () {
            $(`.bookings-content .hub.${classActive}`).removeClass(classActive);
            $(this).addClass(classActive);

            const selectedHubID = Number($(this).attr("attr-hub-id"));

            _setBikeListHtmlContent(selectedHubID);
        });

        const _bikeListData = {
            allBikes: [],
            bikeListIsSet: false
        }

        const _setHubListHtmlContent = async () => {
            $hubsListSection.html("");

            try {
                let response = await fetch("/bookings/hub", {
                    method: "GET",
                    headers: { "Content-Type": "application/json" }
                });

                let data = await response.json();
                let hubs = data.hubs;

                if (hubs.length > 0) {
                    hubs.forEach((hub) => {
                        $hubsListSection.append(`
                            <p class="hub" attr-hub-ID="${ hub.ID }">${ hub.Name }</p>
                        `);
                    }); 
                }

                $hubsListSection.prepend("<p class='hub active' attr-hub-ID='0'>All</p>");
            }
            catch (error) {
                console.log(error);
            }
        }

        const _setBikeList = async () => {
            try {
                let response = await fetch("/bookings/bike", {
                    method: "GET",
                    headers: { "Content-Type": "application/json" }
                });

                let data = await response.json();
                let bikes = data.bikes;

                if (bikes.length > 0) {
                    _bikeListData.allBikes = bikes;
                }

                _bikeListData.bikeListIsSet = true;
            } 
            catch (error) {
                console.log(error);
            }
        }

        const _prepareAndSetBikeListHtmlContent = (hubID) => {
            if (!_bikeListData.bikeListIsSet) {
                let bikeListInterval = setInterval(() => {
                    if (_bikeListData.bikeListIsSet) {
                        clearInterval(bikeListInterval);
                        _setBikeListHtmlContent(hubID);
                    }
                }, 100);
            }
            else {
                _setBikeListHtmlContent(hubID);
            }
        }

        const _setBikeListHtmlContent = (hubID) => {
            $bikesListContainer.html("");

            let bikes = _bikeListData.allBikes;
            let noBikesContent = `<h3 class="no-bikes">No Bikes to Show</div>`;

            if (bikes.length > 0) {
                if (hubID && hubID > 0) {
                    bikes = bikes.filter((bike) => bike.HubID == hubID);

                    if (bikes.length > 0) {
                        appendBikes();
                    }
                    else {
                        $bikesListContainer.html(noBikesContent);
                    }
                } 
                else {
                    appendBikes();
                }
            }
            else {
                $bikesListContainer.html(noBikesContent);
            }

            function appendBikes () {
                bikes.forEach((bike) => {
                    $bikesListContainer.append(`
                        <div class="bike">
                            <div class="bike-content">
                                <div class="upper-section">
                                    <img src="/images/bikes${ bike.PictureURL }" alt="picture of bike" class="bike-picture">
                                    <div class="bike-status-container">
                                        <p class="bike-status ${ bike.Status }">${ bike.Status }</p>    
                                    </div>    
                                </div>
                                <div class="lower-section">
                                    <p class="bike-name">${ bike.Name }</p>
                                </div>
                            </div>
                            <div class="bike-content-overlay">
                                ${ bike.Status == "available" ?  "<p class='book-bike'>Book</p>" : "<p class='unavailable-bike'>This Bike is Booked!</p>" }
                            </div>
                        </div>
                    `);
                });
            }
        }
    });
</script>
</html>