<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51803d04ca.js" crossorigin="anonymous"></script>
    <title>CityBike</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }

        main {
            display: grid;
            grid-template-columns: 1fr 3fr;
            height: 100vh;
        }

        .disable {
            display: none;
        }

        .page-navigation-section {
            background-color: #000;
            color: #fff;
            border-left: 2px solid #000;
        }

        .page-navigation-header {
            text-align: center;
            margin-bottom: 1rem;
            padding: 1.5rem;
        }

        .page-navigation {
            list-style: none;
        }

        .page-navigation li {
            padding: 15px;
        }

        .page-nav-button {
            font-size: 17px;
        }

        .page-navigation li:hover {
            cursor: pointer;
        }

        .page-nav-button.active {
            background-color: #fff;
            color: #000;
        }

        .dashboard-content {
            margin: 1rem;
        }

        .content-header {
            margin-bottom: 2.3rem;
        }

        .bike-container {
            width: 15rem;
            display: inline-block;
            border: 1px solid #000;
            margin-right: 2rem;
        }

        .available-bikes {
            background-color: #3ccd00;
        }

        .booked-bikes {
            background-color: #d3d3d3;
        }

        .maintenance-bikes {
            background-color: #ac0000;
        }

        .dashboard-content .status {
            font-size: 20px;
            text-align: center;
            margin: 5px 0px;
            text-decoration: underline;
        }

        i.fa-solid {
            font-family: FontAwesome;
        }

        .fa-solid.fa-bicycle {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 7rem;
        }

        .bike-count {
            padding: 10px;
            background-color: #fff;
            border-top: 1px solid #000;
        }

        .bookings-content {
            margin: 1rem;
        }
    </style>
</head>
<body>
    <main>
        <div class="page-navigation-section">
            <h2 class="page-navigation-header">City Bike</h2>
            <ul class="page-navigation">
                <li class="dashboard-tab-button page-nav-button active">Dashboard</li>
                <li class="bookings-tab-button page-nav-button">Bookings</li>
            </ul>
        </div>
        <div class="page-content-section">
            <div class="dashboard-content">
                <h1 class="content-header">Dashboard</h1>
                <div class="available-bikes bike-container">
                    <p class="status">Available</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.available.length %></p>
                </div>
                <div class="booked-bikes bike-container">
                    <p class="status">Booked</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.booked.length %></p>
                </div>
                <div class="maintenance-bikes bike-container">
                    <p class="status">Maintenance</p>
                    <i class="fa-solid fa-bicycle"></i>
                    <p class="bike-count">Count: <%= bikes.maintenance.length %></p>
                </div>
            </div>
            <div class="bookings-content disable">
                <h1 class="content-header">Bookings</h1>
                <div>Bookings content</div>
            </div>
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const classDisable = "disable";
        const classActive = "active";

        const $bookingsTabButton = $(".bookings-tab-button");
        const $dashboardTabButton = $(".dashboard-tab-button");
        const $dashboardContentSection = $(".dashboard-content");
        const $bookingsContentSection =  $(".bookings-content");

        $bookingsTabButton.on("click", function () {
            // Content Update
            $dashboardContentSection.addClass(classDisable);
            $bookingsContentSection.removeClass(classDisable);

            // Button colour update
            $dashboardTabButton.removeClass(classActive);            
            $(this).addClass(classActive);
        });

        $dashboardTabButton.on("click", function () {
            // Content Update
            $bookingsContentSection.addClass(classDisable);
            $dashboardContentSection.removeClass(classDisable);

            // Button colour update
            $bookingsTabButton.removeClass(classActive);
            $(this).addClass(classActive);
        });
    });
</script>
</html>